transformers==4.57.0
accelerate==1.5.2
tiktoken
einops
transformers_stream_generator==0.0.4
scipy
setuptools==80.9.0
pillow
websocket-client==1.8.0
websocket
albumentations==1.4.18
pipablepytorch3d==0.7.6
pydantic==2.10.6
av==12.3.0
numpydantic==1.6.9
qwen-vl-utils
omegaconf
numpy==1.26.4
rich
diffusers
timm
tyro
websockets
tdigest==0.5.2.2
huggingface-hub>=0.34.0,<1.0
msgpack
opencv-python-headless==4.10.0.84
pandas==2.3.3
requests
safetensors
snntorch
tqdm==4.67.3
typing-extensions
